{% load static %} {% comment %} 👈あとで static "URL" を使うので load static します {% endcomment %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
        <title>Tic Tac Toe</title>
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-main>
                    <v-container>
                        <h1>TIC TAC TOE</h1>
                        <h3>Welcome to room_{{dj_room_name}}</h3>
                    </v-container>

                    <form name="form1" method="POST">
                        {% csrf_token %}
                        <v-container>
                            <v-row justify="center" dense>
                                <v-col>
                                    {% comment %} Vue で二重波括弧（braces）は変数の展開に使っていることから、 Python のテンプレートに二重波括弧を変数の展開に使わないよう verbatim で指示します。 {% endcomment %}
                                    <!-- -->
                                    {% verbatim %}
                                    <v-btn id="square0" v-on:click="clickSquare(0)">{{label0}}</v-btn>
                                    <v-btn id="square1" v-on:click="clickSquare(1)">{{label1}}</v-btn>
                                    <v-btn id="square2" v-on:click="clickSquare(2)">{{label2}}</v-btn>
                                    {% endverbatim %}
                                </v-col>
                            </v-row>
                            <v-row justify="center" dense>
                                <v-col>
                                    {% verbatim %}
                                    <v-btn id="square3" v-on:click="clickSquare(3)">{{label3}}</v-btn>
                                    <v-btn id="square4" v-on:click="clickSquare(4)">{{label4}}</v-btn>
                                    <v-btn id="square5" v-on:click="clickSquare(5)">{{label5}}</v-btn>
                                    {% endverbatim %}
                                </v-col>
                            </v-row>
                            <v-row justify="center" dense>
                                <v-col>
                                    {% verbatim %}
                                    <v-btn id="square6" v-on:click="clickSquare(6)">{{label6}}</v-btn>
                                    <v-btn id="square7" v-on:click="clickSquare(7)">{{label7}}</v-btn>
                                    <v-btn id="square8" v-on:click="clickSquare(8)">{{label8}}</v-btn>
                                    {% endverbatim %}
                                </v-col>
                            </v-row>
                        </v-container>

                        <!-- `po_` は POST送信するパラメーター名の目印 -->
                        <input type="hidden" name="po_room_name" value="{{dj_room_name}}" />
                        <input type="hidden" name="po_my_piece" value="{{dj_my_piece}}" />
                    </form>
                    {% block footer_section1 %}
                    <!-- ボタン等を追加したいなら、ここに挿しこめる -->
                    {% endblock footer_section1 %}
                    <v-container>
                        <v-alert type="info" color="green" v-show="isYourTurn">Your turn. Place your move <strong>{{dj_my_piece}}</strong></v-alert>
                        <v-alert type="warning" color="orange" v-show="isVisibleAlertWaitForOther">Wait for other to place the move</v-alert>
                        {% verbatim %}
                        <v-alert type="success" color="blue" v-show="isGameover">{{gameover_message}}</v-alert>
                        {% endverbatim %}
                        <v-alert type="warning" color="orange" v-show="isAlertReconnectingShow()">Reconnecting...</v-alert>
                    </v-container>
                </v-main>
            </v-app>
        </div>

        <script src="{% static 'webapp1/tic-tac-toe/v2/things.js' %}"></script>
        <script src="{% static 'webapp1/tic-tac-toe/v2/concepts.js' %}"></script>
        <script src="{% static 'webapp1/tic-tac-toe/v2/connection.js' %}"></script>
        <script src="{% static 'webapp1/tic-tac-toe/v2/judge_ctrl.js' %}"></script>
        <script src="{% static 'webapp1/tic-tac-toe/v2/position.js' %}"></script>
        <script src="{% static 'webapp1/tic-tac-toe/v2/message_receiver.js' %}"></script>
        <script src="{% static 'webapp1/tic-tac-toe/v2/message_sender.js' %}"></script>
        <script src="{% static 'webapp1/tic-tac-toe/v2/user_ctrl.js' %}"></script>
        <script src="{% static 'webapp1/tic-tac-toe/v2/building.js' %}"></script>
        <!--                    ==================================
                                1
        1. host1/webapp1/static/webapp1/tic-ta-toe/v2/building.js
                 ================================================
        -->

        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script>
            /**
             * 再接続関数の作成
             * @return ラムダ関数
             */
            function packReconnect() {
                // 5秒後に1回だけ再接続にトライします。
                // そのあと接続が切れれば また再接続が呼び出されるので連続します
                return () => {
                    console.log("[Reconnect] Start...");
                    vue1.building.connection.isReconnectingDisplay = true;

                    setTimeout(() => {
                        // このコードブロックでは、 this の指しているものが コードブロックの外側のオブジェクトではないので注意
                        console.log("[Reconnect] Try...");
                        vue1.building.connect();

                        vue1.building.connection.isReconnectingDisplay = false;
                        console.log("[Reconnect] End");
                    }, 5000);
                };
            }

            let vue1 = new Vue({
                el: "#app",
                vuetify: new Vuetify(),
                data: {
                    building: new Building(
                        packSetMessageFromServer(),
                        packReconnect(),
                        // `po_` は POST送信するパラメーター名の目印
                        // 部屋名
                        document.forms["form1"]["po_room_name"].value,
                        // 自分の駒。 X か O
                        document.forms["form1"]["po_my_piece"].value,
                        // 接続文字列を返す関数 (roomName, myPiece)=>{return connectionString;}
                        /**
                         * 接続文字列へ変換
                         */
                        (roomName, myPiece) => {
                            // 接続文字列
                            // `dj_` は Djangoでレンダーするパラメーター名の目印
                            const connectionString = `ws://${window.location.host}{{dj_path_of_ws_playing}}${roomName}/`;
                            //                        ----]----------------------]-------------------------------------
                            //                        1    2                      3
                            // 1. プロトコル（Web socket）
                            // 2. ホスト アドレス
                            // 3. パス
                            console.log(`[lambda] convertPartsToConnectionString roomName=${roomName} 自分の手番=${myPiece} connectionString=${connectionString}`);

                            return connectionString;
                        },
                        /**
                         * 升ボタンのラベルの設定
                         *
                         * @param {number} sq - Square; 0 <= sq
                         * @param {*} piece - text
                         */
                        (sq, piece)=>{
                            console.log(`[lambda] setLabelOfButton sq=${sq} piece=${piece} this=${this}`);
                            switch (sq) {
                                case 0:
                                    // * ここでは this はWindowを指しているので、グローバル変数を使います
                                    vue1.label0 = piece;
                                    break;
                                case 1:
                                    vue1.label1 = piece;
                                    break;
                                case 2:
                                    vue1.label2 = piece;
                                    break;
                                case 3:
                                    vue1.label3 = piece;
                                    break;
                                case 4:
                                    vue1.label4 = piece;
                                    break;
                                case 5:
                                    vue1.label5 = piece;
                                    break;
                                case 6:
                                    vue1.label6 = piece;
                                    break;
                                case 7:
                                    vue1.label7 = piece;
                                    break;
                                case 8:
                                    vue1.label8 = piece;
                                    break;
                                default:
                                    alert(`[Error] sq=${sq}`);
                                    break;
                            }
                        },
                    ),
                    label0: PC_EMPTY_LABEL,
                    label1: PC_EMPTY_LABEL,
                    label2: PC_EMPTY_LABEL,
                    label3: PC_EMPTY_LABEL,
                    label4: PC_EMPTY_LABEL,
                    label5: PC_EMPTY_LABEL,
                    label6: PC_EMPTY_LABEL,
                    label7: PC_EMPTY_LABEL,
                    label8: PC_EMPTY_LABEL,
                    isYourTurn: false,
                    isGameover: false,
                    // 「相手の手番に着手しないでください」というアラートの可視性
                    isVisibleAlertWaitForOther: false,
                    roomState: new RoomState(RoomState.none,(oldValue, newValue)=>{
                        // changeRoomState
                        console.log(`[data roomState changeRoomState] state old=${oldValue} new=${newValue}`);
                        vue1.raiseRoomStateChanged();
                    }),
                    gameover_message : "",
                    messages: {
                        draw: "It's a draw.",
                        youLose: "You lose.",
                        youWin: "You win!",
                        {% block appendix_message %}
                        // メッセージを追加したければ、ここに挿しこめる
                        {% endblock appendix_message %}
                    }
                },
                // page loaded
                mounted: () => {
                    // ここで Vue の準備完了後の処理ができる。
                    // ただし、まだ this は初期化されてない
                },
                methods: {
                    // 対局開始時
                    onStart() {
                        console.log("[methods onStart]");

                        // 「相手の手番に着手しないでください」というアラートの非表示
                        this.isVisibleAlertWaitForOther = false;

                        // 先に 対局中状態 にしておいてから、エンジンをスタートさせてください
                        this.roomState.value = RoomState.playing;
                        this.building.start();


                        // ボタンのラベルをクリアー
                        for (let sq = 0; sq < BOARD_AREA; sq += 1) {
                            this.building.setLabelOfButton(sq, PC_EMPTY_LABEL);
                        }

                        // ダンプ
                        this.dump();
                    },
                    /**
                     * 升ボタンをクリックしたとき
                     * @param {*} sq - Square; 0 <= sq
                     */
                    clickSquare(sq) {
                        console.log(`[methods clickSquare] gameoverSet:${this.building.gameoverSet.value}`);
                        if (this.building.gameoverSet.value != GameoverSet.none) {
                            // Ban on illegal move
                            console.log(`Ban on illegal move. gameoverSet:${this.building.gameoverSet.value}`);
                            return;
                        }

                        if (this.building.position.board.getPieceBySq(sq) == PC_EMPTY) {
                            if (!this.building.position.myTurn.isTrue) {
                                // Wait for other to place the move
                                console.log("Wait for other to place the move");
                                this.isVisibleAlertWaitForOther = true;
                            } else {
                                // （サーバーからの応答を待たず）相手の手番に変更します
                                this.building.position.myTurn.isTrue = false;

                                if (this.building.gameoverSet.value != GameoverSet.none) {
                                    // ゲームオーバー後に駒を置いてはいけません
                                    console.log(`warning of illegal move. gameoverSet:${this.building.gameoverSet.value}`);
                                    return;
                                }

                                // 自分の一手
                                this.building.userCtrl.doMove(this.building.position, this.building.myPiece, parseInt(sq));
                            }
                        }
                    },
                    /**
                     * 対局は終了しました
                     */
                    onGameover(winner) {
                        console.log(`[methods onGameover] winner=${winner}`);
                        this.building.winner = winner;
                        this.roomState.value = RoomState.none; // 画面を対局終了状態へ

                        this.gameover_message = this.createGameoverMessage();
                    },
                    /**
                     * ゲームオーバー時のメッセージ作成
                     */
                    createGameoverMessage() {
                        {% block create_gameover_message %}
                        // 返却値を変えたいなら、ここに挿しこめる
                        {% endblock create_gameover_message %}

                        switch (this.building.gameoverSet.value) {
                            case GameoverSet.draw:
                                return this.messages.draw;
                            case GameoverSet.win:
                                return this.messages.youWin;
                            case GameoverSet.lose:
                                return this.messages.youLose;
                            case GameoverSet.none:
                                // ここに来るのはおかしい
                                return "";
                            default:
                                throw `unknown this.building.gameoverSet.value = ${this.building.gameoverSet.value}`;
                        }
                    },
                    /**
                     * (1) 対局中か
                     * (2) 自分の手番か
                     */
                    updateYourTurn(){
                        console.log(`[methods updateYourTurn 1] this.roomState=${this.roomState.value} this.building.position.myTurn.isTrue=${this.building.position.myTurn.isTrue}`);
                        let isYourTurn = this.roomState.value == RoomState.playing && this.building.position.myTurn.isTrue;

                        {% block isYourTurn_patch1 %}
                        // 条件を追加したいなら、ここに挿しこめる
                        {% endblock isYourTurn_patch1 %}

                        console.log(`[methods updateYourTurn 2] isYourTurn=${isYourTurn}`);

                        // v-show="" は複雑なメソッドを指定すると動かないようなので、プロパティにします
                        this.isYourTurn = isYourTurn;
                    },
                    raiseRoomStateChanged() {
                        console.log(`[methods raiseRoomStateChanged] roomState=${this.roomState.value}`);
                        this.isGameover = this.roomState.value == RoomState.none;

                        this.updateYourTurn();
                    },
                    raiseMyTurnChanged() {
                        console.log(`[methods raiseMyTurnChanged]`);
                        this.updateYourTurn();
                    },
                    raisePositionChanged() {
                        console.log(`[methods raisePositionChanged]`);
                        this.raiseMyTurnChanged();
                    },
                    /**
                     * 再接続中表示中なら、アラートを常時表示
                     */
                    isAlertReconnectingShow() {
                        return this.building.connection.isReconnectingDisplay;
                    },
                    {% block methods_footer %}
                    // メソッドを追加したければ、ここに挿しこめる
                    {% endblock methods_footer %}
                    /**
                     * ダンプ
                     */
                    dump() {
                        console.log(`[DUMP] vue1\n${this.building.dump("")}`)
                    },
                },
            });
        </script>
    </body>
</html>
