{% load static %} {% comment %} 👈あとで static "URL" を使うので load static します {% endcomment %}
<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
        <title>Tic Tac Toe</title>
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-main>
                    <v-container>
                        <v-alert type="success" id="alert_move">Your turn. Place your move <strong>{{my_piece}}</strong></v-alert>

                        <h1>TIC TAC TOE</h1>
                        <h3>Welcome to room_{{room_name}}</h3>

                        <form method="POST">
                            {% csrf_token %}
                            <v-row>
                                <v-col><v-btn id="square0"></v-btn></v-col>
                                <v-col><v-btn id="square1"></v-btn></v-col>
                                <v-col><v-btn id="square2"></v-btn></v-col>
                            </v-row>
                            <v-row>
                                <v-col><v-btn id="square3"></v-btn></v-col>
                                <v-col><v-btn id="square4"></v-btn></v-col>
                                <v-col><v-btn id="square5"></v-btn></v-col>
                            </v-row>
                            <v-row>
                                <v-col><v-btn id="square6"></v-btn></v-col>
                                <v-col><v-btn id="square7"></v-btn></v-col>
                                <v-col><v-btn id="square8"></v-btn></v-col>
                            </v-row>
                            <input type="hidden" name="room_name" value="{{room_name}}" />
                            <input type="hidden" name="my_piece" value="{{my_piece}}" />
                        </form>
                    </v-container>
                </v-main>
            </v-app>
        </div>

        <script src="{% static 'tic-tac-toe2/game.js' %}"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script>
            new Vue({
                el: "#app",
                vuetify: new Vuetify(),
            });
        </script>
    </body>
</html>
