{% load static %} {% comment %} 👈あとで static "URL" を使うので load static します {% endcomment %}
<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
        <title>Tic Tac Toe</title>
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-main>
                    <v-container>
                        <v-alert type="success" id="alert_move">Your turn. Place your move <strong>{{my_piece}}</strong></v-alert>

                        <h1>TIC TAC TOE</h1>
                        <h3>Welcome to room_{{room_name}}</h3>
                    </v-container>

                    <form name="form1" method="POST">
                        {% csrf_token %}
                        <v-container>
                            <v-row justify="center" dense>
                                <v-col>
                                    <v-btn id="square0" v-on:click="clickSquareV(0)"></v-btn>
                                    <v-btn id="square1" v-on:click="clickSquareV(1)"></v-btn>
                                    <v-btn id="square2" v-on:click="clickSquareV(2)"></v-btn>
                                </v-col>
                            </v-row>
                            <v-row justify="center" dense>
                                <v-col>
                                    <v-btn id="square3" v-on:click="clickSquareV(3)"></v-btn>
                                    <v-btn id="square4" v-on:click="clickSquareV(4)"></v-btn>
                                    <v-btn id="square5" v-on:click="clickSquareV(5)"></v-btn>
                                </v-col>
                            </v-row>
                            <v-row justify="center" dense>
                                <v-col>
                                    <v-btn id="square6" v-on:click="clickSquareV(6)"></v-btn>
                                    <v-btn id="square7" v-on:click="clickSquareV(7)"></v-btn>
                                    <v-btn id="square8" v-on:click="clickSquareV(8)"></v-btn>
                                </v-col>
                            </v-row>
                        </v-container>
                        <input type="hidden" name="room_name" value="{{room_name}}" />
                        <input type="hidden" name="my_piece" value="{{my_piece}}" />
                    </form>
                </v-main>
            </v-app>
        </div>

        <script src="{% static 'tic-tac-toe2/game.js' %}"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script>
            new Vue({
                el: "#app",
                vuetify: new Vuetify(),
                methods: {
                    clickSquareV: (sq) => {
                        clickSquare(sq);
                    },
                },
            });
        </script>
    </body>
</html>
